    .cart {
        display: flex;
        justify-content: flex-end;
        min-height: 500px;
        flex-direction: column;
        max-width: 400px;
        margin: 20px auto 20px auto ;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        backdrop-filter: blur(50px) opacity(80%);
        background-color: rgba(255, 255, 255, 0.3);
        font-size: 1.5rem;
    }
    
    .cart h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .cart a {
        background-color: #f44336;
        color: #fff;
        padding: 10px 20px;
        border-radius: 4px;
        text-decoration: none;
        font-size:2rem;
        transition: all 0.2s ease-in-out;
    }
    
    .cart a:hover {
        background-color: #e53935;
    }
    
    .cart button {
        background-color: #2196f3;
        color: #fff;
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        margin-top: 20px;
        font-size: 1.5rem;
        transition: all 0.2s ease-in-out;
    }
    
    .cart button:hover {
        background-color: #1976d2;
    }
    