.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-size: contain;
    background-position: center center;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

