.cartItem {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid gray;
  }
  
  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .name,
  .price {
    margin: 0;
  }
  
  .price {
    font-size: 14px;
  }
  
  .removeButton {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .removeButton:hover {
    background-color: #d11f1f;
  }
  